.nav {
  display: flex;
  align-items: center;

  a {
    color: $color-black;

    &:hover {
      color: $color-grey;
    }
  }
}


.nav__link {
  &--bag {
    margin-left: auto;
  }
}

.nav__toggle {
  border: none;
  background: transparent;
  position: relative;
  display: block;
  content: "";
  width: 32px;
  height: 28px;
  margin-left: 24px;
  cursor: pointer;
  color: $color-black;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 28px;
    height: 2px;
    background-color: currentColor;
    top: 9px;
    right: 0;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: currentColor;
    bottom: 9px;
    right: 0;
  }

  &:hover {
    color: $color-grey;
  }
}

// @media (max-width: $desktop-width) {
//   .page-nav {
//     max-width: $desktop-width;
//     margin: 40px auto;
//   }
// }