html {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 16px;
  color: $color-black;
  overflow-x: hidden;
}

body {
  max-width: $mobile-width;
  padding: 22px 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $color-black;
}

img {
  height: auto;
  max-width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal {
  z-index: 999;
}

@media (min-width: $desktop-width) {
  .body {
    max-width: $desktop-width;
    // margin: 0 auto;
  }
}

.box {
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  background-color: #ccc;
}

.text-field {
  width: 100%;
  min-height: 45px;
  padding: 12px 20px;
  border: 1px solid $color-grey--light;
  text-overflow: ellipsis;
  background: none;

  &:disabled {
    &+.contacts__label {
      display: block;
    }

    &::placeholder {
      color: $color-grey--light;
    }
  }

  &:valid {
    outline: none;
    border: 1px solid $color-black;

    &+.contacts__label {
      display: block;
    }
  }

  &:focus {
    outline: 2px solid $color-black;
    border-radius: 3px;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: $desktop-width;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  .map img {
    max-width: 400px;
    width: 800px;
  }

  .formalize {
    max-width: 400px;
  }
}