// 1920px
// $desktop-width--tight: 1440px;
$desktop-width: 1280px;
// $tablet-width: 992px;
// $tablet-width--tight: 768px;
// 640px
// 576px
$mobile-width: 320px;

$color-black: #000000;
$color-grey: #6E6E6E;
$color-grey--light: #C8C8C8;
$color-grey--x-light: #F1F1F1;
$color-white: #ffffff;

$good-black: #444444;
$good-blue: #106DA1;
$good-brown: #AE6D0C;

$event-error: #D92C2C;
$event-success: #007E06;

$font-main: 'Helvetica', "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;